.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  .home-header {
    color: #fff;
    background-color: #333;
    height: rem(60px);
    padding: 0 rem(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-swiper {
    .swipe-container {
      .van-swipe-item {
        color: #fff;
        font-size: 0;
        text-align: center;
        height: rem(280px);
        background-color: #39a9ed;
        .swiper-img {
          width: 100%;
          // height: rem(280px);
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .home-list {
    flex: 1;
    overflow: auto;
  }
}
