$base: 64px;

@function rem($size) {
  @return $size / $base * 1rem;
}

* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
// html {
//   font-size: 15.625vw !important;
// }
body {
  font-size: 14px;
}

#app {
  height: 100%;
  .main-wrapper {
    height: calc(100% - 50px);
  }
}

@import './common';
@import './vant';
@import './home';
